html {
    scroll-behavior: smooth;
}


body {
    /* background-color: #ffffff; */
    background: rgb(232,236,236);
    background: linear-gradient(180deg, rgba(232,236,236,1) 0%, rgba(184,210,217,1) 60%, rgba(32,170,198,1) 100%);
}

* {
    margin: 0;
    padding: 0;
}


/* .banner img {
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    width: 100%;
    height: 900px;
    z-index: 1000;
}  */




main {
    min-height: 100vh;
    color: rgb(1, 17, 31);
}

p {
    padding: 20px;
    display: block;
}


table, #syllables table, tr, td {
	margin: 0 auto;
	overflow: auto;
    padding: 30px;
}

hr {
    margin-top: 35px;
}


input[type="search"], input[type="text"], input[type="url"], textarea {
    border: darkblue 2px solid;
	border-radius: 10px;
    width: 70%;
	height: 20px;
    margin: 25px;
    text-align: center;
    box-sizing: border-box;
}

textarea {
    text-align: left;
    padding: 10px;
}

.nav-main a {
    color: #8d8f97;
    text-decoration: none;
}

.nav-main ul {
    list-style: none;
}

.nav-main {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 18px;
    height: 60px;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
	padding: 0 28px;
	display: block ruby;
}

.nav-main ul li a {
    padding: 2px;
    transition: 0.3s;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}

.nav-main ul.nav-menu {
    margin: 20px;
    flex: 1;
}

#user-word {
    color: #18d035;
    margin: 10px 10px 25px 10px;
    font-size: 15px;
    letter-spacing: 2px;
}

#key-phrases-input {
    height: 150px;
    color: teal;
}

.material-icons::selection {
    background-color: rgba(0, 0, 0, 0);
}


.lgtbx {
    opacity: .6;
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .2s;
    background-color: rgba(0,0,0,.8);
    z-index: -1;
}


.background-window {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.homepage {
    color:aliceblue;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.homepage .banner {
    background: url('../Images/teaching_languages.jpg') fixed no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    border-bottom: 3px solid rgb(11, 73, 54);
    position: relative;
    z-index: -2;
}

.homepage .content {
    position: absolute;
    word-spacing: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", Arial, sans-serifl
}

.homepage .content p {
    text-shadow: -2px 6px 8px azure;
    font-style: italic;
}

.homepage .content h1, h1 {
    font-size: 45px;
    margin-bottom: 10px;
    line-height: 1.3;
    font-weight: 100;
}

.content p {
    font-size: 16px;
    color:azure;
}

.content #home-intro {
    word-spacing: 2px;
    width: 500px;
}

/* .logo {
    float: right;
    position: fixed;
    height: 40px;
    width: 40px;
    top: 30px;
    right: 20px;
    cursor: pointer;
}
 */

#menubar {
    top: 25px;
    right: 25px;
    cursor: pointer;
    position: fixed;
    float: right;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(118, 219, 202);
}

.section {
    text-align: center;
    margin: 150px;
}

.section h2 {
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
}

.section p {
    font-size: 20px;
    display: inline-block;
    max-width: 60%;
}


#vowels {
    font-size: 90px;
    font-weight: bolder;
}

#vowels td {
    padding: 35px;
}


#syllables {
    font-size: 25px;
    font-weight: bolder;
    display: table;
}

#syllables td {
    padding: 10px;
}

#tools {
	text-align: center;
	font-family: verdana, helvetica, sans-serif;
	font-weight: 800;
	color: #099cbd;
	letter-spacing: 2px;
}


.image {
    width: 550px;
    height: 550px;
    border-radius: 8px;
    border: 2px solid rgb(27, 80, 240);
    margin: 15px;
    margin-top: 25px;
}

.img-link {
    min-width: 550px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid rgb(4, 95, 168);
    padding: 4px;
    display: block;
    margin: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

input[type="file"], input[type="button"], input[type="submit"], button {

    background-color: #f1f1f1;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    padding: 4px 8px;
    margin: 6px auto;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    transition: 0.3s;
}

input[type="file"]:hover, input[type="button"]:hover, input[type="submit"]:hover, button:hover {
    background-color: black;
    color: white;
  }


#img-result-title {
    color: #e8ecf2;
    margin: 25px 8px;
    font-size: 22px;
}

#img-text {
    font-size: medium;
}

.buttons {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 200px;
    margin-bottom: 200px;
}


.speech-buttons {
    position: absolute;
    right: 0;    
    margin: -20px 0 0 0;
    display: block;
}

.play, .stop, .pause {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.play {
    right: 0px;
    animation-name: speech;
    animation-duration: 3s;
}

.pause {
    right: 5px
}

.stop {
    right: 10px;
}


footer {
    text-align: center;
}


@keyframes speech {
    33% {
        content: "volume_mute";
    }
    66% {
        content: "volume_down";
    }
    100% {
        content: "volume_up";
    }
}